<web-app>	
	
	<servlet>
		<servlet-name>textinput</servlet-name>
		<jsp-file>/textinput.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>textinput</servlet-name>
		<url-pattern>/textinput</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TextServlet</servlet-name>
		<servlet-class>text.TextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TextServlet</servlet-name>
		<url-pattern>/TextServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>textoutput</servlet-name>
		<jsp-file>/textoutput.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>textoutput</servlet-name>
		<url-pattern>/textoutput</url-pattern>
	</servlet-mapping>
	
</web-app>